.text {
    background: #150f0f;
    color: #fdc500;
    background: #e31837;
    background: #ffc500;
    background: rgba(0, 0, 0, 0.478);
    color: #010606;
    color:rgb(218, 165, 32);
    color: #ffe600;

}

